<% if (images.length>0){ %>
    <div class="container" style="width: 100%;">
        <div class="row">
            <% images.forEach(function(image){ %>
                <div class="card" style="width: 20rem; margin: 10px;">
                    <img class="card-img-top" src="/<%= image.img %>?tn=1" alt="<%= image.name %>"/>
                    <div class="card-body">                
                        <h5 class="card-title"><%=image.name%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=image.category.name%></h6>
                        <p class="card-text"><%=image.description%></p>
                        <!-- <p class="card-text"><%=image._id%></p>
                        <p class="card-text"><%=image.userId%></p> -->
                        
                        <div class="row card-body">
                            <!-- <p class="card-text">Likes: <%=image.likes%></p>
                            <p class="card-text" style="padding-left: 10px;">Dislikes: <%=image.dislikes%></p> -->
                        </div>
                        
                        <div class="row card-body">
                            <a href="<%=image.img%>" target="_blank" class="btn btn-primary">View in full</a>
                            <% if ( image.userId === user ) { %>
                                <form action="/deleteImage/<%=image._id%>" method="delete" style="padding-left: 10px;">
                                    <button type="submit" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
<% } %>
  